<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882741880528-66k1r9cld504sjkphiimt6hj3f0qp5ql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882741880528-66k1r9cld504sjkphiimt6hj3f0qp5ql</string>
	<key>API_KEY</key>
	<string>AIzaSyD32AhI2tpTGvIvM755jUZbdSYeiZVLccE</string>
	<key>GCM_SENDER_ID</key>
	<string>882741880528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticktok</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-82a09</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-82a09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882741880528:ios:60fc70e49be2608c2520d5</string>
</dict>
</plist>